{% block subject %}
 
        KIDS CODING
    
{% endblock subject %}


{% block html_body %}


    Here are the following details of the kids and we will get back to you shortly
   <div class="container">
    <div class="wrapper">
        <ul>
            <li>
                Age Bracket: {{age_bracket}}
            </li>
            <li>
                Name: {{full_name}}
            </li>           
            
           
            <li>
                Email: {{email}}
            </li>
            <li>
                Phone: {{mobile}}
            </li>
            <li>
                Remarks: {{remarks}}
            </li>
        </ul>
    </div>
   </div>
{% endblock html_body %}