{% block subject %}
 
        THANK YOU FOR TAKING THIS SHORT QUIZZES
    
{% endblock subject %}


{% block html_body %}
Dear {{ fullname }},

    Here are the following details of the short quizzes and we will get back to you shortly
   <div class="container">
    <div class="wrapper">
        <ul>
            <li>
                Name: {{fullname}}
            </li>
            <li>
                Teritary: {{tartiary_education}}
            </li>
            <li>
                Teritary Course: {{tartiary_studied}}
            </li>
            <li>
                Secondary School: {{secondary_sch}}
            </li>
            <li>
                Secondary Departments: {{secondary_studied}}
            </li>
            <li>
                Interested Technologies: {{tech_interest}}
            </li>
            <li>
                Something About You: {{more_about_you}}
            </li>
            <li>
                Email: {{email}}
            </li>
            <li>
                Phone: {{mobile}}
            </li>
        </ul>
    </div>
   </div>
{% endblock html_body %}